$primary-color: rgba(0, 172, 220, 1);
$font-family-main: Roboto, sans-serif;
$nav-color: #060b35;
$title-hover: #34568b;
$dark-text: rgba(6, 11, 53, 1);
$secondary-text: rgba(97, 96, 112, 1);
$border-color: rgba(243, 243, 243, 1);
$card-width: 200px;
