@import './vars';

.nav {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 50px;
  }

  &__li {
    margin: 20px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    font-size: 12px;
    height: 15px;
    color: $nav-color;
  }

  &__list:hover,
  &__list:active,
  &__list:focus,
  &__list:visited {
    color: $primary-color;
    text-decoration: none;
    outline: none;
  }

  &__1 {
    color: $primary-color;
  }

  &__link.is-active {
    color: $primary-color;
  }

  &__link.is-active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -18.5px;
    height: 4px;
    background: $primary-color;
    border-radius: 8px;
  }

  &_list:hover {
    color: $primary-color;
  }

  &__link:hover {
    color: $primary-color;
    transition: color 0.3s;
  }
}
